* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: transparent; /* No background */
    color: #111a3d; /* Light grey text color */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0.6;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #111a3d; /* Light grey text color */
}

#workspaces button,
#workspaces button:hover,
#workspaces button.focused,
#workspaces button.urgent,
#mode,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    background-color: rgba(0, 0, 0, 0.3); /* Increased transparency */
    color: #111a3d; /* Light grey text color */
    min-width: 75px; /* Reduced minimum width */
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Remove specific background colors for individual modules */
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#mpd,
#battery,
#clock {
    background-color: rgba(0, 0, 0, 0.3); /* Increased transparency */
    color: #111a3d; /* Light grey text color */
}
